<!-- 1 Column Text + Button : BEGIN -->
                <tr>
                    <td style="background-color: #ffffff;">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          
                            <tr>
                                <td style="margin:0; padding: 0px 20px; font-family: Arial, sans-serif; font-size: 18px; color: #000000; line-height: 22px;">
								
                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ligula congue quam hendrerit volutpat. Mauris eros nulla, interdum ac volutpat et, pulvinar ac metus. Praesent tempus dignissim nibh, non convallis est facilisis id. Cras ut imperdiet leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam aliquam orci sit amet neque malesuada, eu eleifend nisi auctor. Suspendisse eleifend facilisis est et mattis. Vestibulum posuere lacus ac mi dictum, sed dictum diam malesuada. Praesent efficitur risus vel nulla fermentum, sed vulputate lectus tincidunt. Mauris gravida nunc at diam porta posuere. Nulla massa odio, luctus quis odio sit amet, mollis tempus felis. Etiam in mi at purus accumsan commodo posuere ac mi.
                               
                                </td>
                            </tr>
                            <tr>
                                <td style="margin:0; padding: 20px 20px 25px;">
                                    <!-- Button : BEGIN -->
                                    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto; border-radius: 25px;">
                                        <tr>
                                            <td class="button-td button-td-primary" style="border-radius: 25px; background: #047296;">
                                                <td class="button-td button-td-primary" style="background: #047296; border-radius: 25px;">
                                                    <a class="button-a button-a-primary" style="background: #047296; border: 1px solid #047296; font-family: Arial, sans-serif; font-size: 16px; line-height: 14px; font-weight:bold; text-decoration: none; padding: 15px 10px; color: #ffffff; display: block; border-radius: 25px; width: 200px; text-align: center;" href="https://example.com">CTA</a>
                                                </td>
											</td>
                                        </tr>
                                    </table>
                                    <!-- Button : END -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- 1 Column Text + Button : END -->