<!-- Image : BEGIN -->
                <tr>
                    <td style="background-color: #ffffff; color: #ffffff; text-align: center; padding-left: 20px !important; padding-top: 10px !important; padding-right: 20px !important; padding-bottom: 20px !important;">
                        <a href="https://example.com" style="text-decoration: none;">
                            <img src="https://placehold.co/640x400" width="640" height="" alt="ALT TEXT" border="0" style="width: 100%; max-width: 640px; height: auto; background: #1e3765; margin: auto; display: block;" class="g-img">
                        </a>
                    </td>
                </tr>
                <!-- Image : END -->				
